.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition, visibility $transition;

  &__btn {
    min-width: 122px;
    padding: 10px;
    margin-top: 30px;
  }

  // &__fake {
  //   position: relative;
  //   cursor: pointer;
  //   width: 20px;
  //   height: 20px;
  //   display: inline-block;
  //   border: 1px solid #dbdbdb;
  //   border-radius: 3px;
  //   &::before {
  //     content: '';
  //     position: absolute;
  //     color: #ffffff;
  //     font-size: 10px;
  //     height: 20px;
  //     width: 20px;
  //     border-radius: 3px;
  //     background-color: $accent-color;
  //     background-image: url("../img/check.svg");
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     border: none;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     opacity: 0;
  //     transition: .3s;
  //   }
  // }

  &__close {
    position: absolute;
    top: 15px;
    right: 12px;

    &-btn {
      width: 16px;
      height: 16px;
      fill: #BCBFC2;
    }
  }

  &__label {
    font-size: 14px;
    color: $primary-color;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  &__subtitle {
    display: inline-block;
    text-align: left;
    margin-top: 17px;
    margin-bottom: 8px;
    font-weight: 900;
    font-size: 14px;
    color: $dark-color
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 31px 35px 40px 35px;
    text-align: left;
  }

  &__title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
    color: $dark-color;
    text-align: left;
    margin-bottom: 13px;
  }

  &__select {
    color: $grey-color;
    font-size: 14px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9dadb;
    border-radius: 5px;
    font-size: 14px;
    outline: none;

    &::placeholder {
      font-size: 14px;
      color: $grey-color
    }

    &-group {
      position: relative;
      width: 100%;
      // margin-top: 25px;
      text-align: left;

      &--check {
        margin-top: 15px;
        display: flex;
        align-items: center;
      }
    }
  }

  &__textarea {
    width: 100%;
    min-height: 120px;
    resize: none;
    padding: 15px;
    border: 1px solid #d9dadb;
    border-radius: 5px;
    outline: none;
    margin-bottom: -5px;

    &::placeholder {
      font-size: 14px;
      color: $grey-color
    }
  }

  &__form {
    &-bottom {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 15px;
      padding-bottom: 18px;
      align-items: center;
    }

    &-text {
      font-weight: 500;
      color: $dark-color;
    }
  }
}

.modal__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal__checkbox+.modal__label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: -10px;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer
}

.modal__checkbox:checked+.modal__label::before {
  background-color: $accent-color;
  background-image: url("../img/check.svg");
  border: none
}

.modal::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}


.modal__container {
  position: relative;
  width: 360px;
  height: 530px;
  margin: 50px auto;
  display: none;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 10px;
  cursor: default;
}

@media (max-width: 480px) {
  .modal__container {
    width: 90%;
  }
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity $transition, visibility $transition;
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  transition: opacity $transition
}

.fade.animate-open {
  opacity: 1;
  transition: opacity $transition
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity $transition, transform $transition
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity $transition, transform $transition
}

.content {
  min-height: 200vh;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
