.social
  display: flex
  justify-content: space-between
  &__link
    display: flex
    align-items: center
    justify-content: center
    height: 50px
    width: 50px
    border-radius: 50%
    &--facebook
      background-color: #4267B2
    &--twitter
      background-color: #1DA1F2
    &--youtube
      background-color: #FF0000
    &--instagram
      background-color: #262626
    &--footer
      width: 40px
      height: 40px
      &:not(:last-child)
        margin-right: 15px
  &__img
    width: 20px
    height: 20px

@media(hover: hover) and (pointer: fine)
  .social
    &__link
      transition: background-color 0.3s ease, opacity 0.3s ease
      &:hover
        background-color: $dark-color
        opacity: 0.9
        transition: background-color 0.3s ease, opacity 0.3s ease
